<h1>{{restaurants.length}}Restaurants // Prints out the word 'Restaurant'
    <a href="#">Add</a>
</h1>
<section>
        <!-- TODO - for each restaurant -->
        {{#each restaurants}} // For each restaurant 
        <article>

            <h1>{{this.name}} // Print out the restaurant name 
                    <a href="/restaurants/{{this.id}}" aria-label="Delete"> // And assign it with the id as stated in the database <i data-feather="x-square"></i>
                    </a>
            </h1>
            
            <a href="/restaurants/{{this.id}}" aria-label="Open {{this.name}} Menu">
            <header style="background-image: url({{this.image}});"></header> // Print out the image associated with the restaurant as shown in the database 

        </a>
        </article>
    {{/each}}

<script>
    feather.replace(); // supports the display of feather icon
</script>

</section>