<h1>{{restaurants.length}}Restaurants 
    {{!-- // Prints out the word 'Restaurant' --}}
    <a href="/restaurants/create">Add</a>
    
</h1>
<section>
        <!-- TODO - for each restaurant -->
        {{#each restaurants}} 
        {{!-- // For each restaurant  --}}
        <article>
{{!-- // Print out the restaurant name  --}}
            <h1>{{this.name}} 
                {{!-- A hack to add the delete function into the page. Below takes the url path /restaurants/id/delete and when the delete button "x=square" is clicked, it will delete the selected restaurant from the page --}}
                    <a href="/restaurants/{{this.id}}/delete"> 
                      <i data-feather="x-square"></i>
                      {{!-- // And assign it with the id as stated in the database --}}
                    </a>
                    <a href="/restaurants/{{this.id}}/edit">Edit</a>
            </h1>
            
            <a href="/restaurants/{{this.id}}">
            <header style="background-image: url({{this.image}});"></header> 
            {{!-- // Print out the image associated with the restaurant as shown in the database  --}}

        </a>
        </article>
    {{/each}}

<script>
    feather.replace(); // supports the display of feather icon
</script>

</section>